@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}
a{
    color: white;
    text-decoration: none;
}
body{
    background-image: linear-gradient(to top ,#121212 , #000000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    background-image: linear-gradient(rgba(0,0,0,0.85) , rgba(255,42,95,0.15)),url(spider.jpg);
    background-size: cover;
    width: 90%;
    height: 900px;
    background-position: center;
    border-radius: 20px;
}
div:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0) , rgba(255, 42, 95, 0)),url(spider.jpg);
    background-size: cover;
    width: 90%;
    height: 900px;
    border-radius: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    font-size: 40px;
    text-transform: uppercase;
    color: #ff2a5f;
}
ul{
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}
ul a{
    border-bottom: 2px solid transparent;
}
ul a:hover{
    border-bottom-color: #ff2a5f;
    color: #ff2a5f;
}
.content{
    color: white;
    width: 50%;
    margin-top: 50px;
    padding: 30px;
}
.content h2{
    font-size: 100px;
    text-transform: uppercase;
}
.content p{
    letter-spacing: 2px;
    width: 350px;
    padding: 20px 0;
}
@media (max-width: 768px) {
  html {
    font-size: 13px; 
  }

  body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

  header {
    flex-direction: column;
    gap: 5px;
  }

  header ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }

  .content {
    margin: auto 0;
  }
}